In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('/home/enumtheworld/Downloads/safecharge_notifications.csv', usecols=['Date', 'Action/recurringType', 'ResultDescription', 'Geo', 'Email', 'amount', 'currency' ])

In [7]:
df.shape

(96890, 7)

In [9]:
df.head(6)

,Date,Action/recurringType,ResultDescription,Geo,Email,amount,currency
0,1/Jun/2021,NaN,NaN,NaN,NaN,NaN,NaN
1,1/Jun/2021,NaN,NaN,NaN,NaN,NaN,NaN
2,1/Jun/2021,NaN,NaN,NaN,NaN,NaN,NaN
3,1/Jun/2021,NaN,NaN,NaN,NaN,NaN,NaN
4,1/Jun/2021,NaN,NaN,NaN,NaN,NaN,NaN
5,1/Jun/2021,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.isnull().any() ## Where do I have NaaN values?

Date                    False
Action/recurringType     True
ResultDescription        True
Geo                      True
Email                    True
amount                   True
currency                 True
dtype: bool

In [12]:
null_columns1 = df.columns[df.isnull().any()] ## How many NaaN values do I have in total?
df[null_columns1].isnull().sum()

Action/recurringType    40304
ResultDescription       40304
Geo                     40304
Email                   40304
amount                  40304
currency                40304
dtype: int64

In [13]:
df = df.dropna()

In [14]:
df.head(10)

,Date,Action/recurringType,ResultDescription,Geo,Email,amount,currency
8,1/Jun/2021,Auth,Do not honor,AU,nick_chidiac@hotmail.com,1.0,AUD
10,1/Jun/2021,Auth,APPROVED,AU,nick_chidiac@hotmail.com,1.0,AUD
19,1/Jun/2021,Auth,Insufficient funds,HU,ktiza32@gmail.com,1.0,EUR
22,1/Jun/2021,Auth,APPROVED,HU,kmargo6012@gmail.com,1.0,EUR
24,1/Jun/2021,Auth,Exceeds withdrawal limit,HU,orosz.attila367@gmail.com,1.0,EUR
28,1/Jun/2021,Auth,Exceeds withdrawal limit,HU,orosz.attila367@gmail.com,1.0,EUR
35,1/Jun/2021,Auth,APPROVED,HU,endyke@vipmail.hu,1.0,EUR
43,1/Jun/2021,Auth,APPROVED,PT,patriciaferreiradelima@gmail.com,1.0,EUR
52,1/Jun/2021,Auth,APPROVED,PT,katyja73@gmail.com,1.0,EUR
61,1/Jun/2021,Auth,APPROVED,DE,wernerneffe@freenet.de,1.0,EUR

In [15]:
df.shape

(56586, 7)

In [16]:
import datetime

In [17]:
df['Date'] = pd.to_datetime(df.Date)

In [18]:
df['Date'].dt.date

8        2021-06-01
10       2021-06-01
19       2021-06-01
22       2021-06-01
24       2021-06-01
28       2021-06-01
35       2021-06-01
43       2021-06-01
52       2021-06-01
61       2021-06-01
63       2021-06-01
74       2021-06-01
78       2021-06-01
80       2021-06-01
82       2021-06-01
92       2021-06-01
98       2021-06-01
101      2021-06-01
103      2021-06-01
109      2021-06-01
112      2021-06-01
117      2021-06-01
119      2021-06-01
121      2021-06-01
124      2021-06-01
126      2021-06-01
127      2021-06-01
128      2021-06-01
129      2021-06-01
132      2021-06-01
            ...
96810    2022-02-20
96811    2022-02-20
96812    2022-02-20
96813    2022-02-20
96814    2022-02-20
96815    2022-02-20
96816    2022-02-20
96817    2022-02-20
96818    2022-02-20
96819    2022-02-20
96820    2022-02-20
96821    2022-02-20
96822    2022-02-20
96823    2022-02-20
96824    2022-02-20
96826    2022-02-20
96829    2022-02-20
96831    2022-02-20
96843    2022-02-20
96845    2022-02-20
96846    2022-02-20
96854    2022-02-20
96858    2022-02-20
96863    2022-02-20
96865    2022-02-20
96867    2022-02-20
96874    2022-02-20
96878    2022-02-20
96884    2022-02-21
96889    2022-02-21
Name: Date, Length: 56586, dtype: object

In [60]:
filtered_df = df.loc[(df['Date'] >= '2021-07-01')]

In [61]:
filtered_df.head(10)

,Date,Action/recurringType,ResultDescription,Geo,Email,amount,currency
4185,2021-07-01,Credit,APPROVED,CA,kathybrown.kmb@gmail.com,38.88,CAD
4186,2021-07-01,Credit,APPROVED,UK,amritsmith39@googlemail.com,28.95,GBP
4187,2021-07-01,Credit,APPROVED,UK,amritsmith39@googlemail.com,28.95,GBP
4188,2021-07-01,Credit,APPROVED,CA,dmlajeunesse1@gmail.com,38.88,CAD
4190,2021-07-01,Auth,APPROVED,PT,claudio.fac@gnr.pt,1.00,EUR
4193,2021-07-01,Auth,APPROVED,UK,gspence1952@googlemail.com,1.00,GBP
4194,2021-07-01,Sale,Insufficient funds,FR,jean-marie.rigaut@reseau.sncf.fr,28.95,EUR
4195,2021-07-01,Sale,Do not honor,UK,rosemariaoakley@gmail.com,28.95,GBP
4196,2021-07-01,Sale,Do not honor,FR,salinthierry5@gmail.com,28.95,EUR
4197,2021-07-01,Sale,Insufficient funds,FR,mjenderson02@gmail.com,28.95,EUR

In [62]:
filtered_df.tail(5)

,Date,Action/recurringType,ResultDescription,Geo,Email,amount,currency
96867,2022-02-20,Auth,APPROVED,CY,corinalungu60@gmail.com,1.0,EUR
96874,2022-02-20,Auth,APPROVED,UK,cbrooks2201@gmail.com,1.0,GBP
96878,2022-02-20,Auth,APPROVED,UK,ssearle@mail.com,1.0,GBP
96884,2022-02-21,Auth,APPROVED,UK,avelinosantos501@gmail.com,1.0,GBP
96889,2022-02-21,Auth,Insufficient funds,UK,borgmaria78@gmail.com,1.0,GBP

In [63]:
filtered_df['Action/recurringType'].unique().tolist() ## show unique values under Action/RecurringType

['Credit', 'Auth', 'Sale', 'Void']

In [76]:
filtered_df = filtered_df[(filtered_df['Action/recurringType'] != 'Credit') 
& (filtered_df['Action/recurringType'] != 'Auth') 
& (filtered_df['Action/recurringType'] != 'Void')] ## get rid of credit, void and auth values

In [77]:
filtered_df.head(10)

,Date,Action/recurringType,ResultDescription,Geo,Email,amount,currency
4194,2021-07-01,Sale,Insufficient funds,FR,jean-marie.rigaut@reseau.sncf.fr,28.95,EUR
4195,2021-07-01,Sale,Do not honor,UK,rosemariaoakley@gmail.com,28.95,GBP
4196,2021-07-01,Sale,Do not honor,FR,salinthierry5@gmail.com,28.95,EUR
4197,2021-07-01,Sale,Insufficient funds,FR,mjenderson02@gmail.com,28.95,EUR
4198,2021-07-01,Sale,APPROVED,UK,majeda0821@icloud.com,28.95,GBP
4199,2021-07-01,Sale,Insufficient funds,UK,cazgray64@gmail.com,28.95,GBP
4200,2021-07-01,Sale,APPROVED,SI,knezar.v@gmail.com,28.95,EUR
4201,2021-07-01,Sale,Do not honor,UK,walters617@btinternet.com,28.95,GBP
4202,2021-07-01,Sale,Do not honor,UK,garylane23121961@hotmail.com,28.95,GBP
4203,2021-07-01,Sale,APPROVED,ES,tlhammerfall9@gmail.com,28.95,EUR

In [78]:
filtered_df['Action/recurringType'].unique().tolist() ## show unique list for column

['Sale']

In [79]:
filtered_df.shape

(28511, 7)

In [80]:
filtered_df['amount'].unique().tolist() ## show unique list for column

[28.95,
 400.0,
 650.0,
 55.0,
 38.88,
 27.5,
 14.47,
 19.44,
 200.0,
 2386.0,
 199.0,
 65.0,
 1193.0,
 299.0,
 33.33,
 16.66,
 99.5,
 10.0,
 1.0]

In [81]:
filtered_df.loc[filtered_df['amount'] == 1.0] ## who is the user for which amount == 1.0 ?

,Date,Action/recurringType,ResultDescription,Geo,Email,amount,currency
89035,2022-02-06,Sale,APPROVED,LT,oksstuff@gmail.com,1.0,EUR
89314,2022-02-07,Sale,APPROVED,LT,oksstuff@gmail.com,1.0,EUR
89315,2022-02-07,Sale,APPROVED,LT,oksstuff@gmail.com,1.0,EUR
89316,2022-02-07,Sale,APPROVED,LT,oksstuff@gmail.com,1.0,EUR

In [86]:
filtered_df.to_csv('/home/enumtheworld/Downloads/safecharge_notifications_filtered.csv') ## export to target